# Arquivos do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos temporários
*.log
*.tmp
*.bak

# Jupyter, Colab e notebooks temporários
*.ipynb_checkpoints
*.ipynb

# PDFs da documentação (só locais)
*.pdf

# Configs de IDEs (VS Code, PyCharm etc.)
.vscode/
.idea/

# Dados sensíveis (planilhas locais)
*.xlsx
*.xls

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente virtual
env/
venv/
ENV/
